.App{
    background-color: #ebebe0;
}
.upload-form {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.form-container {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.product_screen {
    min-height: 70vh;
}
.spinner {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}
.product_image_card {
    box-shadow: 0 3px 6px rgb(14 30 38 / 15%);
    padding:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 100%;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 6px rgb(14 30 38 / 15%);

}