.App{
    background-color: #ebebe0;
}
.upload-form {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.form-container {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.product_screen {
    min-height: 70vh;
}
.spinner {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}
.home_card {
    width: 100%;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 6px rgb(14 30 38 / 15%);
    transition:box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) ;
}
.img_container {
    padding-top: 60%;
    position: relative ;
    overflow:hidden;
}
.img-container_img {
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
}
.home_card:hover {
    transition:box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) ;
    box-shadow: 0 6px 12px rgb(14 30 38 / 30%);
}
.home_card:hover a {
    text-decoration: none; 
}
.product_price {
    color:#67c4b0;
    text-decoration: none;
    font-weight: bold;
}

.product_image_card {
    box-shadow: 0 3px 6px rgb(14 30 38 / 15%);
    padding:1vw;
    overflow:hidden;
    width:100%;
   display:block;
   text-align: center;
     /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.product_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    width: 100%;
    border: 1px solid #d7dfe3;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 3px 6px rgb(14 30 38 / 15%);

}